<section class="login-content">
  <div class="logo">
    <h1 style="font-family: arial, sans-serif;">Stark Bank</h1>
  </div>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="login-box col-md-4" style="    min-width: 403px;  min-height: 589px;">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="login-form">
        <h3 class="login-head"><i class="fab fa-wolf-pack-battalion fa-2x"></i>
        </h3>
        <div class="form-group">
          <label class="control-label">Email</label>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" , class:"form-control" %>
        </div>
        <div class="form-group">
          <label class="control-label">CPF</label>
          <%= f.text_field :cpf, autofocus: true, class: "form-control cpf" %>
        </div>
        <div class="form-group">
          <label class="control-label">Senha</label>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> caracteres no minimo)</em>
          <% end %><br/>
          <%= f.password_field :password, autocomplete: "new-password" ,class:"form-control"%>
        </div>
        <div class="form-group">
          <label class="control-label">Confirme sua senha</label>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
        </div>

        <div class="form-group btn-container">
          <%= f.button class: "btn btn-primary btn-block" do %>
            Registrar-se
          <% end %>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    <% end %>
  </div>
</section>