<% if resource.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <div class="alert alert-dismissible alert-danger">
          <button class="close" type="button" data-dismiss="alert">×</button><strong>Algo errado </strong><a class="alert-link" href="#"></a><%= message %>
        </div>
      <% end %>
    </ul>
  </div>
<% end %>
