<%- if controller_name != 'sessions' %>
  <div class="text-center">
    <br>
    <div class="form-group btn-container">
      <%= link_to "Entrar", new_session_path(resource_name), class: "btn btn-info btn-block" %><br/>
    </div>
  </div>
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <div class="text-center">
    <br>
    <div class="text-center">
      <div class="form-group btn-container">
        <%= link_to "Cadastre-se", new_registration_path(resource_name), class: "btn btn-info btn-block" %>
      </div>
    </div>
  </div>
<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
<% end %>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br/>
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br/>
<% end %>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %>
    <br/>
  <% end %>
<% end %>
