<h3 class="tile-title text-center">EXTRATO BANCARIO</h3>
<%= search_form_for @q, url: extracts_path, html: {method: :get} do |f| %>
  <div class="form-group row">
    <div class="col-md-6">
      <label>Pesquise entre datas de extrato: </label>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <%= f.text_field :created_at_gteq,as: :string, class: "form-control  date", placeholder: '__/__/____'%>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <%= f.text_field :created_at_lteq,as: :string, class: "form-control date ", placeholder: '__/__/____'%>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <%= f.button class: "btn btn-primary" do %>
          Buscar
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<table class="table table-sm">
  <thead class="text-center">
  <tr>
    <th><%=sort_link(@q, :"Descrição") %> </th>
    <th><%=sort_link(@q, :"Donatário") %> </th>
    <th><%=sort_link(@q, :"Beneficiado") %> </th>
    <th><%=sort_link(@q, :"Montante") %> </th>
    <th><%=sort_link(@q, :"Taxa") %> </th>
    <th><%=sort_link(@q, :"Data") %> </th>
  </tr>
  </thead>
  <tbody class="text-center">
  <% @extracts.each do |extract| %>
    <tr>
      <td nowrap><%= extract.description %></td>
      <td nowrap><%= extract.donate %></td>
      <td nowrap><%= extract.beneficiary.present? ? extract.beneficiary : "-----" %></td>
      <% if extract.description == "Saque" %>
        <td nowrap class="text-danger"><%= number_to_currency_br(extract.amount) %></td>
        <td nowrap>-----</td>
      <% else %>
        <% if extract.description == "Transferência" %>
          <td nowrap class="text-danger"><%= number_to_currency_br(extract.amount) %></td>
          <td nowrap><%= number_to_currency_br(extract.rate) %></td>
        <% else %>
          <td nowrap class="text-success"><%= number_to_currency_br(extract.amount) %></td>
          <td nowrap>-----</td>
        <% end %>
      <% end %>
      <td nowrap><%= extract.created_at.strftime("%d/%m/%y") %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<div class="text-center">
  <div class="">
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
  <%= pagy_info @pagy %>
</div>
</div>
