<%= form_for(@balance, url: balances_create_path, method: "post", class: "form-inline") do |form| %>
  <div class="form-inline  mb-2">
    <%= form.text_field :value, class: "form-control money" %>
    <%= form.button class: "btn btn-success" do %>
      <i class="fas fa-check"></i>
    <% end %>
  </div>
<% end %>
