<div class="form-group row">
  <div class="container-fluid">
    <div class="col-md-5  mx-auto">
      <h2>Saque em conta</h2>
      <div class="text-center">
        <%= form_for @balance, url: sake_balance_path, method: "patch" do |form| %>
          <div class="form-inline  mb-2">
            <%= form.text_field :value, class: "form-control money", value: "0,0" %>
            <%= form.button class: "btn btn-success" do %>
              <i class="fas fa-check"></i>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

