<div class="form-group row">
  <div class="container-fluid">
    <div class="col-md-5  mx-auto">
      <h2 >Novo depósito</h2>
      <div class="text-center">
        <%= render 'form', balance: @balance.value %>
      </div>
    </div>
  </div>
</div>

