<%= javascript_include_tag 'balances', 'data-turbolinks-track': 'reload' %>
<div class="form-group row">

  <div class="container-fluid">
    <div class="col-md-5  mx-auto">
      <h2>Transferencia entre contas</h2>
      <form >
        <div class="text-center">
          <div class="form-group  mb-2">
            <label for="">Beneficiado</label>
            <input type="text" value="" id="beneficiary" name="beneficiary" class="form-control" maxlength="7">
            <label for="">Valor:</label>
            <input type="text" value="" id="value" name="value" class="form-control money">
            <label for="">Senha:</label>
            <input type="password" value="" id="password" name="password" class="form-control">
            <br>
            <button type="submit" class="btn btn-success" id="save"><i class="fas fa-check"> Transferir</i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

