<div class="form-group">
  <div class="text-center">
  <p>
    <strong>SALDO</strong>
  </p>
  </div>
  <div class="text-center text-success">
    <%= number_to_currency_br(@balance.value.to_s) %>
  </div>
</div>
