<section class="login-content">
  <div class="logo">
    <h1 style="font-family: arial, sans-serif;">Stark Bank</h1>
  </div>
  <div class="login-box" style="    min-height: 444px;">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="login-form">
        <h3 class="login-head"><i class="fab fa-wolf-pack-battalion fa-2x"></i>
        </h3>
        <div class="form-group">
          <label class="control-label">CPF</label>
          <%= f.text_field :cpf, autofocus: true, class: "form-control cpf" %>
        </div>
        <div class="form-group">
          <label class="control-label">Senha</label>
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>
        <div class="form-group btn-container">
          <%= f.button class: "btn btn-primary btn-block" do %>
            Entrar
          <% end %>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    <% end %>
  </div>
</section>


