/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

.principal {
    background-color: #2c3e50;
    width: 600px;
    height: 400px;
}

.box {
    background-color: #1976D2;
    width: 300px;
    height: 200px;
}

.box-inside {
    background-color: #B2EBF2;
    font-size: 32px;
    width: 100px;
    height: 100px;
}

.palavra {
    background-color: #FFD54F;
}