<%= form_with(model: account, local: true) do |form| %>

  <div class="form-group row">
    <div class="col-md-6">
      <label for="">CPF </label>
      <%= form.text_field :cpf, class: "form-control cpf" %>
    </div>
    <div class="col-md-6">
      <label for="">Email </label>
      <%= form.text_field :email, class: "form-control" %>
    </div>
  </div>
  <div class="text-center row">
    <div class="col-md-2 ">
      <%= form.button class: "btn btn-success" do %>
        <i class="fa fa-fw fa-lg fa-check-circle"></i> Atualizar conta
      <% end %>
    </div>
  </div>
<% end %>
