
<%= form_for @account, url: edit_update_pass_path(@account), action: :update_password do |f| %>
  <div class="card">
    <div class="card-body">
      <div class="col-md-12">
        <div class="form-group row">
          <%= f.label :"Nova senha", class: "control-label col-md-4 " %>
          <div class="col-md-6">
            <%= f.text_field :password, autofocus: true, type: 'password', class: "form-control usertext" %>
          </div>
        </div>
        <div class="form-group row">
          <%= f.label :"Confirme sua senha", class: "control-label col-md-4" %>
          <div class="col-md-6">
            <%= f.text_field :password_confirmation, autofocus: true, type: 'password', class: "form-control " %>
          </div>
        </div>
        <div class="form-group row">
          <div class="clearfix col-md-6">
            <%= f.button class: "btn btn-success" do %>
              <i class="fa fa-fw fa-lg fa-check-circle"></i> Atualizar senha
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>
<% end %>
