<h3 class="tile-title text-center">Minha conta</h3>
<div class="form-group row">
  <div class="col-md-6">
    <label for="">Agencia </label>
    <input type="text" class="form-control" value="<%= @account.agency %> " disabled>
  </div>
  <div class="col-md-6">
    <label for="">CPF</label>
    <input type="text" class="form-control " value="<%= @account.cpf %> " disabled>
  </div>
</div>

<div class="form-inline">
    <%= link_to 'Cancelar conta', enabled_account_path, class: "btn btn-danger shadow-lg ", data: {method: "post"} %>
    <%= link_to 'Edita minha conta', edit_account_path(@account), class: "btn btn-ligth shadow-lg " %>
</div>
